{% extends 'base.html.twig' %}

{% block title %}Personnages index{% endblock %}

{% block body %}
    <h1 class="mt-3 mb-5">Liste des personnages</h1>

    <table class="table table-list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Surnom</th>
                <th>Image</th>
                <th>Phrase</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for personnage in personnages %}
            <tr>
                <td>{{ personnage.id }}</td>
                <td>{{ personnage.nom }}</td>
                <td>{{ personnage.prenom }}</td>
                <td>{{ personnage.surnom }}</td>
                <td>{{ personnage.image }}</td>
                <td>{{ personnage.phrase }}</td>
                <td>
                    <a href="{{ path('app_backoffice_personnages_show', {'id': personnage.id}) }}" class="btn btn-info">Voir</a>
                    <a href="{{ path('app_backoffice_personnages_edit', {'id': personnage.id}) }}" class="btn btn-info">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Rien à voir ici !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_personnages_new') }}" class="btn btn-info">Ajouter personnage</a>
{% endblock %}
