{% extends 'base.html.twig' %}

{% block title %}Monstres index{% endblock %}

{% block body %}
    <h1 class="mt-3 mb-5">Liste des monstres</h1>

    <table class="table table-list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Episode</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for monstre in monstres %}
            <tr>
                <td>{{ monstre.id }}</td>
                <td>{{ monstre.name }}</td>
                <td>{{ monstre.episode }}</td>
                <td>{{ monstre.image }}</td>
                <td>
                    <a href="{{ path('app_backoffice_monstres_show', {'id': monstre.id}) }}" class="btn btn-info">Voir</a>

                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('app_backoffice_monstres_edit', {'id': monstre.id}) }}" class="btn btn-info">Modifier</a>
                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Rien à voir ici !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_monstres_new') }}" class="btn btn-info">Ajouter monstre</a>
{% endblock %}
