{% extends 'base.html.twig' %}

{% block title %}Monstres{% endblock %}

{% block body %}
    <h1 class="mt-3 mb-5">{{ monstre.name }}</h1>

<div class="container">

    <div class="row">

        <div class="col-4">
        <img src="{{ asset('docs/img/' ~ monstre.image) }}" style="float: right;"/>
        </div>

        <div class="col-4">
        <table class="table" style="width: 50%; margin: auto;">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ monstre.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ monstre.name }}</td>
                </tr>
                <tr>
                    <th>Episode</th>
                    <td>{{ monstre.episode }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>{{ monstre.image }}</td>
                </tr>
            </tbody>
        </table>
        </div>

        <div class="col-4">
            <div class="col mt-3">
            <a href="{{ path('app_backoffice_monstres_index') }}"  class="btn btn-info">Retour à l'accueil</a>
            </div>

            {% if is_granted("ROLE_ADMIN") %}
            <div class="col mt-3">
            <a href="{{ path('app_backoffice_monstres_edit', {'id': monstre.id}) }}"  class="btn btn-info">Modifier</a>
            </div>

            <div class="col mt-3">
            {{ include('backoffice/monstres/_delete_form.html.twig') }}
            </div>
            {% endif %}
            
        </div>

    </div>

</div>
{% endblock %}
