{% extends 'base.html.twig' %}

{% block title %}Hello les zamis !{% endblock %}

{% block body %}

{# <table class="border-collapse border border-slate-400 table-auto">
    <thead>
        <tr>
         <th colspan="12">Liste des personnages</th>
        </tr>
        <tr>
         <th class="border border-slate-300">Nom</th>
         <th class="border border-slate-300">Prenom</th>
         <th class="border border-slate-300">Surnom</th>
         <th class="border border-slate-300">Type</th>
         <th class="border border-slate-300">BFF</th>
         <th class="border border-slate-300" colspan="3">Qualités</th>
         <th class="border border-slate-300">Image</th>
        <tr>
    </thead>
    <tbody>
    {% for perso in persos %}
        <tr>
         <a href="{{ path('app_show', {"id" : perso.id}) }}">
            <td class="border border-slate-300">{{ perso.nom }}</td>
            <td class="border border-slate-300">{{ perso.prenom }}</td>
            <td class="border border-slate-300">{{ perso.surnom }}</td>
            <td class="border border-slate-300">{{ perso.typeId.name }}</td>
            <td class="border border-slate-300">{{ perso.amibff.name }}</td>
            <td>
            <ol>          
            {% for qualite in perso.qualites %}
                <li>
                {{ qualite.adjectif }}
                </li>
            {% endfor %}
            </ol>
            </td>
            <td><img class="h-40 object-cover" src="{{ perso.image }}" ></td>
         </a>
        </tr> #}

<div class="text-center mx-auto mt-4">

  <div class="row">

    {% for perso in persos %}

    <div class="col-3 mb-3">

        <div class="card" style="width: 18rem;">

            <img src="{{ asset('docs/img/' ~ perso.image) }}" class="card-img-top" alt="{{ perso.nom }}">

            <div class="card-body">
            <h5 class="card-title">{{ perso.prenom ~ ' ' ~ perso.nom }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ perso.surnom }}</h6>
            <p class="card-text">Je suis un {{ perso.typeId.name ~ ' et mon poto sur c\'est '}}
            {% if (perso.amibff is same as(null)) %}
               {{ "N'a pas d'amis" }}
            {% else %}
                {{ perso.amibff.name }}
            {% endif %}
            </p>
            <a href="{{ path('app_show', {"id" : perso.id}) }}" class="btn mr-2"><i class="fas fa-link"></i> Voir la fiche</a>
            {# <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> #}
            </div>

        </div>

    </div>

    {% endfor %}

  </div>

</div>

    {# {% endfor %}
    </tbody>
</table> #}

    {# <ul>
    {% for perso in persos %}
            <a href="{{ path('app_show', {"id" : perso.id}) }}">
        <li>Nom : {{ perso.nom }}</li>
        <li>Prénom : {{ perso.prenom }} </li>
        <li>Surnom : {{ perso.surnom }}</li>
        <li>Type : {{ perso.typeId.name }}</li>
        <li>BFF : {{ perso.amibff.name }}</li>

            {% for qualite in perso.qualites %}
                <li>Qualités : {{ qualite.adjectif }}</li>
            {% endfor %}
        <li>Image : <img class="h-40 object-cover" src="{{ perso.image }}" ></li>
            </a>
    {% endfor %}
    </ul> #}

{% endblock %}