{% extends 'base.html.twig' %}

{% block title %}Zoinks!{% endblock %}

{% block body %}

<div class="text-center mx-auto mt-4">

  <div class="row row-cols-auto">

    {% for perso in persos %}

    <div class="col-3 mb-3">

        <div class="card" style="width: 18rem;">

            <a href="{{ path('app_show', {"id" : perso.id}) }}" id="cardlink">

            <img src="{{ asset('docs/img/' ~ perso.image) }}" class="card-img-top" alt="{{ perso.nom }}">

            <div class="card-body">
            <h5 class="card-title">{{ perso.prenom ~ ' ' ~ perso.nom }}</h5>
            <h6 class="card-subtitle mb-2">{{ perso.surnom }}</h6>
            <p class="font-italic">{{ perso.phrase }}</p>
            {# <p class="card-text">Je suis un {{ perso.typeId.name ~ ' et mon poto sur c\'est '}}
            {% if (perso.amibff is same as(null)) %}
               {{ "N'a pas d'amis" }}
            {% else %}
                {{ perso.amibff.name }}
            {% endif %}
            </p> #}
            </div>

            </a>

        </div>

    </div>

    {% endfor %}

  </div>

</div>

{% endblock %}