{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
   <h1 class="mt-3 mb-5">{{ user.email }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Rôles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_user_index') }}" class="btn btn-info" >Retour à l'accueil</a>

    <a href="{{ path('app_backoffice_user_edit', {'id': user.id}) }}" class="btn btn-info">Modifier</a>

    <div class="col mt-3">
    {{ include('backoffice/user/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
